<!--
    M602 - COMPUTER PROGRAMMING
    CARBON FOOTPRINT MONITORING TOOL

    Description: The index.html file will act as the skeleton for the overall assessment and implementation for the flask web application and user interface. The user interface will allow users to input any and all data they would like to gather about the carbon footprint generated.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <!-- POPPINS GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Carbon Footprint Monitoring Tool</title>
</head>
<body>
    <h1>{% block title %}{% endblock %}</h1>
    <div class="container">
        <div class="graph-object" id="plot">
            <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
            <script>
                var graphs = {{ session['plot'] | safe}}
                Plotly.plot('plot', graphs, {})
            </script> -->
            {{ session['svg_fig1'] | safe}}
        </div>
        {% block content1 %}
        <!-- Which is where the information will come in -->
        {% endblock %}
    </div>
    <div class="container">
        <div class="graph-object" id="plot1">
            <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
            <script>
                var graphs = {{ session['plot1'] | safe}}
                Plotly.plot('plot1', graphs, {})
            </script> -->
            {{ session['svg_fig2'] | safe}}
        </div>
        {% block content2 %}
        <!-- Which is where the information will come in -->
        {% endblock %}
    </div>
    <div class="container">
        <div class="graph-object" id="plot2">
            <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
            <script>
                var graphs = {{ session['plot2'] | safe}}
                Plotly.plot('plot2', graphs, {})
            </script> -->
            {{ session['svg_fig3'] | safe}}
        </div>
        {% block content3 %}
        <!-- Which is where the information will come in -->
        {% endblock %}
    </div>
    <div class="button">
        {% block buttoncontent %}
        <!-- PDF GENERATION BUTTON GOES HERE -->
        {% endblock %}
    </div>
</body>
</html>